@import "assets/scss/_fontVariables.scss";
@import "assets/scss/_colorVariables.scss";

.pagination {
  margin-top: $size-50;
  margin-bottom: 0;

  .page-item {
    margin-right: 0.46875rem;

    &.active .page-link {
      background-color: $primaryColor;
      border: none;
      outline: none;
      color: $white;
    }

    .page-link {
      padding: 0.5rem $size-16;
      border-radius: 0.5rem !important;
      color: $body;
      font-size: $size-18;
      border-color: $line;

      &:focus {
        box-shadow: none;
      }
    }
  }
}
