@import "assets/scss/_fontVariables.scss";
@import "assets/scss/_colorVariables.scss";

.content__movie--wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: $size-16;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 250px);
  }

  .content__movie--info {
    font-family: "Mulish", sans-serif;

    .content__movie--title {
      letter-spacing: 1px;
      margin-bottom: 0;
      font-size: $size-13;
      color: #8692a6;
      font-weight: 700;
      line-height: $size-28;

      @media (min-width: 768px) {
        font-size: $size-14;
        line-height: $size-18;
      }
    }

    .content__movie--subtitle {
      color: #121212;
      letter-spacing: 1px;
      margin-bottom: 0.5rem;
    }
  }
}
