$white: #ffffff;

// colors
$primaryColor: #5f2eea;
$secondaryColor: #1cc8ee;
$errorColor: #ed2e7e;
$successColor: #00ba88;
$warningColor: #f4b740;

// typography colors
$title: #14142b;
$navLink: #414141;
$activeLink: $primaryColor;
$body: #4e4b66;
$label: #6e7191;
$line: #dedede;
$inputBg: #eff0f6;
$mainBg: #f7f7fc;
$offWhite: #fcfcfc;

// colors state
$hoverColor: #2a00a2;
$focusColor: #ded3ff;
$disabledColor: $mainBg;
