$size-10: 0.625rem;
$size-11: 0.6875rem;
$size-12: 0.75rem;
$size-13: 0.8125rem;
$size-14: 0.875rem;
$size-15: 0.9375rem;
$size-16: 1rem;
$size-17: 1.0625rem;
$size-18: 1.125rem;
$size-19: 1.1875rem;
$size-20: 1.25rem;
$size-21: 1.3125rem;
$size-22: 1.375rem;
$size-23: 1.4375rem;
$size-24: 1.5rem;
$size-25: 1.5625rem;
$size-26: 1.625rem;
$size-27: 1.6875rem;
$size-28: 1.75rem;
$size-29: 1.8125rem;
$size-30: 1.875rem;
$size-31: 1.9375rem;
$size-32: 2rem;
$size-33: 2.0625rem;
$size-34: 2.125rem;
$size-35: 2.1875rem;
$size-36: 2.25rem;
$size-37: 2.3125rem;
$size-38: 2.375rem;
$size-39: 2.4375rem;
$size-40: 2.5rem;
$size-41: 2.5625rem;
$size-42: 2.625rem;
$size-43: 2.6875rem;
$size-44: 2.75rem;
$size-45: 2.8125rem;
$size-46: 2.875rem;
$size-47: 2.9375rem;
$size-48: 3rem;
$size-49: 3.0625rem;
$size-50: 3.125rem;
$size-51: 3.1875rem;
$size-52: 3.25rem;
$size-53: 3.3125rem;
$size-54: 3.375rem;
$size-55: 3.4375rem;
$size-56: 3.5rem;
