@import "assets/scss/_colorVariables.scss";
@import "assets/scss/_fontVariables.scss";

.content__order {
  background-color: #f5f6f8;
  padding: 50px 0;
  font-family: "Mulish", sans-serif;

  @media (min-width: 768px) {
    padding: 70px 0;
  }

  &--movie {
    margin-bottom: $size-30;

    @media (min-width: 768px) {
      margin-bottom: 0;
    }
  }
}
