@import "assets/scss/_colorVariables.scss";
@import "assets/scss/_fontVariables.scss";

.tab__profile {
  font-family: "Mulish", sans-serif;
  margin-right: 0;
  padding: $size-24 $size-32;
  background-color: $white;
  border: none;
  margin-bottom: $size-48;

  .btn__tab {
    color: #aaaaaa;
    font-size: $size-16;
    width: 130px;
    margin: auto;

    @media (min-width: 768px) {
      width: 142px;
    }

    &.account {
      margin-right: $size-20;

      @media (min-width: 768px) {
        margin-right: $size-56;
      }
    }

    @media (min-width: 768px) {
      font-size: $size-18;
    }
  }
}
