@import "assets/scss/_fontVariables.scss";
@import "assets/scss/_colorVariables.scss";

.crud__card--wrapper {
  // margin: 0 auto 30px;

  @media (min-width: 768px) {
    height: 100%;
    margin-right: $size-32;
  }

  .crud__image {
    width: 200px;
    height: 100%;
    margin-bottom: 0;
    border-radius: inherit;

    img {
      border-radius: inherit;
    }

    @media (min-width: 768px) {
      width: 160px;
      height: 250px;
    }
  }
}
