@import "assets/scss/_colorVariables.scss";
@import "assets/scss/_fontVariables.scss";

.tab__profile--mobile {
  display: block !important;
  margin: 0;

  @media (min-width: 768px) {
    display: none !important;
  }
}

.profile {
  background-color: $mainBg;
  padding: $size-50 0;

  .tab__profile {
    font-family: "Mulish", sans-serif;
    margin-right: 0;
    padding: $size-24 $size-32;
    background-color: $white;
    border: none;
    margin-bottom: $size-48;

    .btn__tab {
      color: #aaaaaa;
      font-size: $size-16;
      width: 130px;
      margin: auto;

      @media (min-width: 768px) {
        width: 142px;
      }

      &.account {
        margin-right: $size-20;
        position: relative;

        @media (min-width: 768px) {
          margin-right: $size-56;
        }

        &.active {
          color: $title;
          border-radius: 0;

          &::after {
            border-bottom: 2px solid #5f2eea;
            position: absolute;
            content: "";
            top: 0;
            display: block;
            width: 100%;
            height: 50px;
          }
        }
      }

      &.order__history {
        position: relative;
        &.active {
          color: $title;
          border-radius: 0;

          &::after {
            border-bottom: 2px solid #5f2eea;
            position: absolute;
            content: "";
            top: 0;
            display: block;
            width: 100%;
            height: 50px;
          }
        }
      }

      @media (min-width: 768px) {
        font-size: $size-18;
      }
    }
  }
}
