@import "assets/scss/_fontVariables.scss";
@import "assets/scss/_colorVariables.scss";

.schedule {
  background-color: #e5e5e5;
  padding: $size-40 0;

  @media (min-width: 992px) {
    padding: $size-56 $size-40;
  }

  .content__heading {
    padding-bottom: $size-24;
    margin-bottom: $size-15;

    @media (min-width: 992px) {
      margin-bottom: 0;
    }
  }

  .crud__card--schedule {
    background-color: $white;
    border: none;
    margin-right: 0;
    padding: $size-30 $size-16;
    margin-bottom: 60px;

    @media (min-width: 992px) {
      padding: $size-56 $size-40;
    }
  }

  .data__schedule--head {
    display: flex;
    margin-bottom: $size-15;
    flex-flow: column;

    @media (min-width: 992px) {
      flex-flow: row;
      align-items: center;
    }

    .form__input {
      background-color: #fcfdfe;
      height: $size-50;

      &.select {
        width: 100%;
        margin-bottom: 0.5rem;

        &:last-child {
          margin-bottom: 0;
        }

        @media (min-width: 992px) {
          width: 160px;
          margin-bottom: 0;
        }
      }
    }
  }

  .card_wrapper--schedule {
    margin-right: 0;
    background-color: #ffffff;
    border: none;
    padding: $size-34 $size-16;

    @media (min-width: 992px) {
      padding: $size-34 $size-40;
    }

    .card__data--schedule {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: $size-20 $size-30;

      @media (min-width: 992px) {
        grid-template-columns: repeat(3, 1fr);
      }

      .card__schedule--content {
        padding: $size-20;
        margin-right: 0;

        .card__schedule--head {
          display: flex;

          .data__schedule--image {
            min-width: 100px;
            max-width: 100px;
            margin-right: $size-40;
            margin-bottom: 0;

            > img {
              height: auto;
            }
          }

          .data__schedule__text {
            &--title {
              font-weight: 600;
              color: #000;
            }

            &--subtitle {
              color: $label;
              font-size: $size-14;
              font-weight: 300;
            }
          }
        }

        .data__schedule__time {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          gap: $size-16;
          margin-bottom: $size-20;

          .time__schedules {
            color: $label;
            font-weight: 600;
            font-size: $size-14;
          }
        }

        .data__schedule--price {
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: #6b6b6b;
          margin-bottom: $size-30;
        }
      }
    }
  }
}
